<br />
<br />
<br />
<br />
<div class="container-dashboard">
  <nav class="navbar-dashboard">
    <div class="nav_icon" onclick="toggleSidebar()">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class="navbar__right"></div>
  </nav>

  <main>
    <div class="main__container">

      <div class="main__title">
        <div class="main__greeting">
          <h1>Edit a dish</h1>
          <p>Here you can edit any dish.</p>
        </div>
      </div>

      <div class="main__cards margin-to-cards">

        <div class="all-dishes">
          <div class="cards-type margin">
            {{#each dish}}
              <div class="card" style="width: 18rem;">
                <img src={{image}} height="350" />
                <div class="card-body">
                  <h5 class="card-title">{{name}}</h5>
                  <p class="card-text">{{ingredients}}</p>
                  <a href="/manager/edit/{{_id}}" class="btn btn-primary">Edit
                    Dish</a>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </main>

  <div id="sidebar">
    <div class="sidebar__title">
      <div class="sidebar__img">
        <img src="/images/logo.png" alt="logo" />
        <h1>{{user.username}}</h1>
      </div>
      <i
        onclick="closeSidebar()"
        class="fa fa-times"
        id="sidebarIcon"
        aria-hidden="true"
      ></i>
    </div>

    <div class="sidebar__menu">
      <div class="sidebar__link active_menu_link">
        <i class="fa fa-home"></i>
      </div>
      <hr style="color: white;" />
      <h2>
        <a
          href="/manager"
          style="text-decoration: none; color:#d3d7da;px;"
        >Management Area</a>
      </h2>
      <div class="sidebar-link">
        <i class="fa fa-user-secret" aria-hidden="true"></i>
        <a href="/manager/ratings-average">Ratings Average</a>
      </div>
      <div class="sidebar-link">
        <i class="fa fa-archive"></i>
        <a href="#" class="disabled">Comments received</a>
      </div>
      <div class="sidebar-link">
        <i class="fa fa-building-o"></i>
        <a href="/manager/create">Create a dish</a>
      </div>
      <div class="sidebar-link">
        <i class="fa fa-wrench"></i>
        <a href="/manager/edit" style="color: white;">Edit a dish</a>
      </div>
    </div>
  </div>
</div>
