<div class="testing container">
  {{name}}
  <img src="{{image}}" alt="" height="600" />
  {{ingredients}}
  <br>
   {{price}} €

  <form class="rate" action="/dishes/{{_id}}" method="post">
    <input type="radio" id="star5" name="stars" value="5" />
    <label for="star5" title="Awesome!!" onclick="show()">5 stars</label>

    <input type="radio" id="star4" name="stars" value="4" />
    <label for="star4" title="Very Good!" onclick="show()">4 stars</label>

    <input type="radio" id="star3" name="stars" value="3" />
    <label for="star3" title="Ok" onclick="show()">3 stars</label>

    <input type="radio" id="star2" name="stars" value="2" />
    <label for="star2" title="Bad" onclick="show()">2 stars</label>

    <input type="radio" id="star1" name="stars" value="1" />
    <label for="star1" title="Very bad!" onclick="show()">1 star</label>
    <br />
    <br />
   

    <br />
    <button type="submit">Submit</button>
  </form>

</div>