<div class="testing">
  <h1>{{dish.name}}</h1>
  <img src="{{dish.image}}" alt="" height="550" />
  <p>{{dish.ingredients}}</p>
  <p>{{dish.price}} €</p>

  <form class="rate" action="/dishes/{{_id}}" method="post" id="form-stars">
    <input type="radio" id="star5" name="stars" value="5" />
    <label for="star5" title="Awesome!" onclick="show()">5 stars</label>

    <input type="radio" id="star4" name="stars" value="4" />
    <label for="star4" title="Good" onclick="show()">4 stars</label>

    <input type="radio" id="star3" name="stars" value="3" />
    <label for="star3" title="Ok" onclick="show()">3 stars</label>

    <input type="radio" id="star2" name="stars" value="2" />
    <label for="star2" title="Bad" onclick="show()">2 stars</label>

    <input type="radio" id="star1" name="stars" value="1" />
    <label for="star1" title="Very bad!" onclick="show()">1 star</label>
  
    <div>
        <p>this is average: {{average}}</p>
        <p>reviews: {{length}}</p>
    </div>

    
    <br />
    <br />

    <br />
    <button
      type="submit"
      class="submit-stars"
      onclick="sentReview()"
    >Submit</button>
  </form>
</div>

<div id="sent-review" class="sent-review" style="display: none;">
  <img src="/images/check.png" height="40" alt="" />
  <h2>Review sent!</h2>
</div>