<div
  class="container-dish"
  style="background-image: url({{dish.image}}); background-size: cover; backdrop-filter: blur(15px);"
>
  <div class="card-detail">
    <div class="dishBackground">
      <div
        class="gradients"
        style="background-image: url({{dish.image}}); background-size: cover; background-position-x: 35%;"
      >

      </div>
    </div>
    <div class="info">
      <div class="dish-name">
        <div>
          <h1 class="big">{{dish.name}}</h1>
        </div>
      </div>
      <div class="description">
        <p class="text">{{dish.ingredients}}</p>
      </div>
      <div class="price-container">
        <h3 class="title price-title">€ {{dish.price}}</h3>
      </div>

      <div class="size-container">

        <h3 class="title">Reviews</h3>
            <p class="average">Stars: {{average}} / Reviews: {{length}}</p>
        <div class="sizes">
          <form
            class="rate"
            class="form-dish-review"
            action="/dishes/{{dish._id}}"
            method="post"
            id="form-stars"
          >
            <input
              style="display: none;"
              type="radio"
              id="star5"
              name="stars"
              value="5"
            />
            <label for="star5" title="Awesome!" onclick="show()">5 stars</label>

            <input
              style="display: none;"
              type="radio"
              id="star4"
              name="stars"
              value="4"
            />
            <label for="star4" title="Good" onclick="show()">4 stars</label>

            <input
              style="display: none;"
              type="radio"
              id="star3"
              name="stars"
              value="3"
            />
            <label for="star3" title="Ok" onclick="show()">3 stars</label>

            <input
              style="display: none;"
              type="radio"
              id="star2"
              name="stars"
              value="2"
            />

            <label for="star2" title="Bad" onclick="show()">2 stars</label>

            <input
              style="display: none;"
              type="radio"
              id="star1"
              name="stars"
              value="1"
            />
            <label for="star1" title="Very bad!" onclick="show()">1 star</label>
            <br />

            <button
              type="submit"
              class="submit-stars"
              onclick="sentReview()"
            >Submit</button>
          </form>

        </div>
      </div>

    </div>
  </div>

</div>