<h2 class="first-element">Edit the dish: {{name}}</h2>

<form action="/dishes/{{_id}}/edit" method="post" enctype="multipart/form-data">
  <label>Name
    <input type="text" name="name" value="{{name}}" />
  </label>

  <label>
    Image
    <input type="file" name="image" />
  </label>

  <label>
    Ingredients
    <input type="text" name="ingredients" value="{{ingredients}}" />
  </label>

  <label>
    Type
    <select name="type" id="type" required>
      <option disabled selected></option>
      <option value="starter">Starter</option>
      <option value="main">Main</option>
      <option value="dessert">Dessert</option>
    </select>
  </label>

  <label>
    Price
    <input
      type="number"
      name="price"
      id="price"
      step="1"
      id="totalAmt"
      value="{{price}}"
    />
  </label>
  <button type="submit">Edit</button>
</form>
<form action="/dishes/{{_id}}/delete" method="post">
  <button type="submit">Delete</button>
</form>